
<mat-toolbar color="primary">
  <div class="nav-container">
    <a mat-list-item routerLink="/scrum/story-form" routerLinkActive="active-link">Add Stories</a>
    <a mat-list-item routerLink="/scrum/story-list" routerLinkActive="active-link">View Stories</a>
    <a mat-list-item routerLink="/scrum/sprint-calculator" routerLinkActive="active-link">Sprint Calculator</a>
    <!-- <a mat-list-item routerLink="/scrum/auto-selected-sprint" routerLinkActive="active-link">Selected Sprint</a>  -->
  </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
